.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
    margin: 1rem;
}

.card {
    text-decoration: none;
    color: black;
    overflow: hidden;
    box-shadow: 0 2px 20px gray;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
    padding-bottom: 1rem;

    .card-image {
        height: 12rem;
        width: 100%;
        object-fit: cover;
    }

    .card-title {
        text-align: center;
        padding: 1rem 0;
        font-style: italic;
        font-weight: bold;
    }

    .card-address {
        text-align: center;
        padding: 1rem 0;
        font-family: "CostarBrownLight";
    }

    .card-type {
        text-align: center;
        padding: 1 1rem;
        font-family: "CostarBrownLight";
    }

    &:hover {
        transform: scale(1.02);
    }
}
