.form-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 2rem 5rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.4);

    .form-row {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        width: 100%;

        .form-input {
            width: 100%;
        }

        .date-row {
            width: 100%;
        }
    }

    .button-row {
        display: flex;
        gap: 20px;
        justify-content: center;
        width: 100%;
        flex-direction: row;

        .date-row {
            width: 100%;
        }

        .submit-button {
            width: 25%;
        }
    }
}
